<div class="intro">
    <h2>FindEm</h2>
    <p class="delay">Delay seconds: <input type="number" max="30" min="0" [(ngModel)]="searchDelay" /></p>
    <p>
        <input type="text" [(ngModel)]="search" (mouseenter)="onMouseLeave()" (keyup.enter)="getPeople()"/>
        <button (click)="getPeople()" (mouseenter)="onMouseLeave()">{{ search === '' ? 'Show Everyone' : 'Find Someone' }}</button>
    </p>
</div>
<div class="people" [class.loaded]="loaded">
    <h3 *ngIf="people && !people.length && loaded && afterFirstLoad">Sorry, seems we don't have any records matching your search for '{{search}}'</h3>
    <div *ngFor="let person of people" [class.hovered]="person === hoveredPerson">
        <div class="person-listing" (mouseenter)="onHover(person)" (mouseleave)="onHover(null)">
            <h3>{{ person.FirstName + ' ' + person.LastName }}</h3>
            <img src="{{ person.ImagePath }}" />
            <div class="info">
                <p>{{ person.Age }} years old</p>
                <p>Address: {{ person.Address }}</p>
                <p>Interests: {{ person.Interests }}</p>
            </div>
        </div>
    </div>
</div>
<div class="loading-component" [class.loaded]="loaded">
    <div class="afterFirstLoad" *ngIf="afterFirstLoad">
        <h3>Sorry to keep you waiting! Lots of people to search through...</h3>
        <p>Click around for a bit while you wait</p>
    </div>
    <svg id="svg" class="tomato" style.left="{{ coordinates[0] - 35 }}px" style.top="{{ coordinates[1] - 215 }}px" xmlns="http://www.w3.org/2000/svg" width="79" height="97">
        <circle cx="45" cy="34" r="32" stroke-width="4" />
        <path d="m22,57 12,7-21,31a2,1 28 0,1-12-8" />
        <path opacity=".3" d="m43,9a21,9 9 1,0 2,0" />
    </svg>
    <div class="playground" [class.loaded]="loaded" (click)="onClick($event)" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()"></div>
</div>